.version.ahk /* version checker */
{
	color: #0000F1;
	background-color: #855533;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 363px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 75px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#menuu531
{
	z-index: 2;
	position: relative;
	width: 96.88%;
	margin-left: 1.57%;
}

#u532
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.84%;
}

#u535
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u535:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u535:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u538-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u535:hover #u538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u535:active #u538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u539
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.84%;
	left: 25%;
}

#u542
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u535.MuseMenuActive,#u542:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u542:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u543-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u535.MuseMenuActive #u538-4,#u542:hover #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u542:active #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u576
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.92%;
	left: 50%;
}

#u579
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u542.MuseMenuActive,#u579:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u579:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u581-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u542.MuseMenuActive #u543-4,#u579:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u579:active #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u597
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.92%;
	left: 75.09%;
}

#u600
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u579.MuseMenuActive,#u600:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u600:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u600.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u603-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u579.MuseMenuActive #u581-4,#u600:hover #u603-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u600:active #u603-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#pmenuu618
{
	margin-top: 31px;
	width: 96.88%;
	margin-left: 1.57%;
}

#menuu618
{
	z-index: 27;
	position: relative;
	margin-right: -10000px;
	width: 13.55%;
}

#u619
{
	position: relative;
	width: 100%;
}

#u622
{
	min-height: 17px;
	padding-bottom: 105px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u622:hover
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u622:active
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u625-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 52px;
	width: 100%;
}

#u600.MuseMenuActive #u603-4,#u622:hover #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u622:active #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u968
{
	margin-top: 2px;
	position: relative;
	width: 100%;
}

#u969
{
	min-height: 17px;
	padding-bottom: 106px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u622.MuseMenuActive,#u969:hover
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u969:active
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u969.MuseMenuActive
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u971-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 53px;
	width: 100%;
}

#u622.MuseMenuActive #u625-4,#u969:hover #u971-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u969:active #u971-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u969.MuseMenuActive #u971-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u943-101
{
	z-index: 40;
	min-height: 474px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 84.36%;
	left: 15.65%;
}

#u946
{
	z-index: 141;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	width: 15.17%;
	left: 23.23%;
}

#u946_img
{
	width: 100%;
}

.html
{
	background-color: #12BC00;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 117px;
}

