.version.cheat_stuff /* version checker */
{
	color: #000019;
	background-color: #2ECD37;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 349.67530899999997px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 88px;
	padding-bottom: 62.32469100000003px;
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#menuu347
{
	z-index: 2;
	position: relative;
	width: 96.88%;
	margin-left: 1.57%;
}

#u348
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.84%;
}

#u351
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u351:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u351:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u354-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u351:hover #u354-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u351:active #u354-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u355
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.84%;
	left: 25%;
}

#u358
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u351.MuseMenuActive,#u358:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u358:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u359-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u351.MuseMenuActive #u354-4,#u358:hover #u359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u358:active #u359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u392
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.92%;
	left: 50%;
}

#u395
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u358.MuseMenuActive,#u395:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u395:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u396-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u358.MuseMenuActive #u359-4,#u395:hover #u396-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u395:active #u396-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u413
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.92%;
	left: 75.09%;
}

#u414
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u395.MuseMenuActive,#u414:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u414:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u414.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u416-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u395.MuseMenuActive #u396-4,#u414:hover #u416-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u414:active #u416-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#pmenuu434
{
	margin-top: 17px;
	width: 96.88%;
	margin-left: 1.57%;
}

#menuu434
{
	z-index: 27;
	position: relative;
	margin-right: -10000px;
	width: 13.8%;
}

#u435
{
	position: relative;
	width: 100%;
}

#u438
{
	min-height: 17px;
	padding-bottom: 102px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u438:hover
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u438:active
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u438.MuseMenuActive
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u441-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 51px;
	width: 100%;
}

#u414.MuseMenuActive #u416-4,#u438:hover #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u438:active #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u438.MuseMenuActive #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u293-52
{
	z-index: 34;
	min-height: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 84.2%;
	left: 15.81%;
}

.html
{
	background-color: #FF61BC;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 157px;
}

