.version.index /* version checker */
{
	color: #000007;
	background-color: #13A418;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 220px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 102px;
	padding-bottom: 178px;
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#menuu94
{
	z-index: 2;
	position: relative;
	width: 96.88%;
	margin-left: 1.57%;
}

#u95
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u98
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u98:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u98:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u98.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u101-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u98:hover #u101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u98:active #u101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u98.MuseMenuActive #u101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u140-4
{
	z-index: 9;
	min-height: 171px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
	width: 96.88%;
	margin-left: 1.57%;
}

.html
{
	background-color: #0071BC;
}

body
{
	position: relative;
	min-width: 320px;
}

