#menuu94
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u95
{
	background-color: transparent;
}

#u98
{
	background-color: #7F7F7F;
}

#u98:hover
{
	background-color: #999999;
}

#u98:active
{
	background-color: #6B6B6B;
}

#u98.MuseMenuActive
{
	background-color: #999999;
}

#u101-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

