#menuu999
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1000
{
	background-color: transparent;
}

#u1001
{
	background-color: #C4C4C4;
}

#u1001:hover
{
	background-color: #999999;
}

#u1001:active
{
	background-color: #6B6B6B;
}

#u1001.MuseMenuActive
{
	background-color: #999999;
}

#u1003-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

